/* Global */

body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 1em;
	color: #484848;
	background-color:#ffffff;
}
img {
	max-width: 100%;
}
a:link {
	color: #FFC200;
	text-decoration: none;
}
a:hover {
	color: #FF3727;
	text-decoration: none;
}
a:visited {
	color: #FFC200;
	text-decoration: none;
}

/* Navigation */

.menu {
	position:fixed;
	top:0px;
	width:100%; 
	height:auto; 
	background-color:#000;
	z-index:100;
	color:#fff;
}
#logo {
	text-align: center;
	margin: 10px 0;
}
#nav {
	text-align: right;
	margin: 30px 0 0 0;
}
.navigation{
	float: right;
	list-style: none;
	margin: 0;
}
.navigation li{
	float: left;
	padding:0 0 0 50px;
}
.navigation li:hover{
	cursor:pointer;
	color: #a9d3d0;
}

.navigation .active{
	cursor:pointer;
	color: #f68f67;
	font-weight:bold;
}
/* General Slides */ 

.slide {
	background-attachment: fixed;
	width:100%;
	height:auto;
	position: relative;
	padding:140px 0;
}

.slide h1 {
	font-size: 3.8em;
	margin: 0.2em 0;
	line-height: 1em;
	font-weight: 700;
}

.slide h2 {
	font-size: 2em;
	margin: 0;
	font-weight: 400;
}

/* Dark and Light Slides */

.dark {
	background-color: #393E41;
	color: #ffffff;
	text-shadow: 2px 2px 8px #000;
}

.light {
	background-color: #b5b5ab;
	color: #333333;
	text-shadow: none;
}

/* Tableau Styles */

.tableauPlaceholder {
	padding: 1em 0;
}


/* Slide 1: Title */ 

#slide1{
	background-image:url('../images/tennis4.jpg');
	background-color:#393E41;
	color:#ffffff;
	height: 75%;
	background-repeat: no-repeat;
	text-shadow: 2px 2px 8px #000;
}

#slide1 h1 {
	font-size: 8em;
	letter-spacing: -3px;
	margin: 0;
	font-weight: 700;
}

/* Slide 2: Intro */

#ytplayer {
	margin-top: 3em;
}

/* Slide 4: Drought Dashboard */

h3 {
	font-size: 1.2em;
	font-weight: 700;
	margin-bottom: 0.5em;
	text-align: center;
}

table {
	width: 100%;
	color: #ffffff;
	font-size: 0.9em;
	text-align: left;
}

table, td, th {
	border-bottom: 1px solid #cccccc;
}

th {
	background-color: #666666;
	color: #ffffff;
	padding: 1% 6%;
}

td {
	padding: 1% 4%;
}

/* Slide 7: Credits; */

#slide9 {
	background-image:url('../images/tennis2.jpg');
	background-color:#000000;
	color:#ffffff;
	height: 75%;
	background-repeat: no-repeat;
	text-shadow: 2px 2px 8px #000;
}

#slide7 h1 {
/*	margin-top: 1em;
*/}


/* Tablet */
@media screen and (max-width: 1024px) {

	.slide {
		background-attachment: fixed;
		width:100%;
		position: relative;
		padding:150px 0;
	}

	#decorative {
		display:none;
	}

	#content {
		text-align:center;
		width:100%;
	}

	#slide1 h1 {
		font-size: 6em;
		line-height: 1em;
	}

}


/* Mobile */
@media screen and (max-width: 480px) {

	.slide{
		background-attachment: fixed;
		width:100%;
		position: relative;
		padding:150px 0;
	}

	#slide1 h1 {
		font-size: 3.8em;
		line-height: 1em;
	}

}




