/* Global */

body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 1em;
	color: #484848;
	background-color:#ffffff;
	line-height: 150%
}
img {
	max-width: 100%;
}
a:link {
	color: #f68f67;
	text-decoration: none;
}
a:hover {
	color: #FF3727;
	text-decoration: none;
}
a:visited {
	color: #f68f67;
	text-decoration: none;
}

#slide3-content{
	height:100px;
}
#bar{
	height:200px;
	display: none;
}
#map{
	position: absolute;
	top:320px;
    left: 50px;
}



/* Navigation */

.menu {
	position:fixed;
	top:0px;
	width:100%; 
	height:auto; 
	background-color:#000;
	z-index:100;
	color:#fff;
	opacity:0.7;
}
#logo {
	text-align: center;
	margin: 10px 0;
}
#nav {
	text-align: right;
	margin: 30px 0 0 0;
}
.navigation{
	float: right;
	list-style: none;
	margin: 0;
}
.navigation li{
	float: left;
	padding:0 0 0 50px;
}
.navigation li:hover{
	cursor:pointer;
	color: #a9d3d0;
}

.navigation .active{
	cursor:pointer;
	color: #f68f67;
	font-weight:bold;
}
#nav{
	width:1050px;
	margin-bottom: 15px;
    
}

#menu-content{
	margin-left: 50px;
}
/* General Slides */

.slide {
	background-attachment: fixed;
	width:100%;
	height:auto;
	position: relative;
	padding:50px 0;
}

.slide h1 {
	font-size: 3.8em;
	margin: 0.2em 0;
	line-height: 1em;
	font-weight: 700;
}

.slide h2 {
	font-size: 2em;
	margin: 0;
	font-weight: 400;
}

/* Dark and Light Slides */

.dark {
	background-color: #393E41;
	color: #ffffff;
	text-shadow: 2px 2px 8px #000;
}

.light {
	background-color: #b5b5ab;
	color: #333333;
	text-shadow: none;
}

/* Tableau Styles */

.tableauPlaceholder {
	padding: 1em 0;
}


/* Slide 1: Title */ 

#slide1{
	background-image:url('../images/tennis4.jpg');
	background-color:#393E41;
	color:#ffffff;
	height: 800px;
	background-repeat: no-repeat;
	text-shadow: 2px 2px 8px #000;
}

#slide1 h1 {
	font-size: 8em;
	letter-spacing: -3px;
	margin: 0;
	font-weight: 700;
}
#title-content{
	padding-top: 100px;
	position: absolute;
    left: 50px;
    width: 50%;
}

/* Slide 3: map */

#slide3 {
	height:800px;

}

/*slide2 infographic*/
#slide2{
	height: 1450px;
}

/* Slide 4: Drought Dashboard */

h3 {
	font-size: 1.2em;
	font-weight: 700;
	margin-bottom: 0.5em;
	text-align: center;
}

table {
	width: 100%;
	color: #ffffff;
	font-size: 0.9em;
	text-align: left;
}

table, td, th {
	border-bottom: 1px solid #cccccc;
}

th {
	background-color: #666666;
	color: #ffffff;
	padding: 1% 6%;
}

td {
	padding: 1% 4%;
}

/* Slide 7: Credits; */

#slide7 h1 {
/*	margin-top: 1em;
*/}

/*slide 8*/
#slide8{
	height: 770px;
}

/* Slide 9: Credits; */
#slide9 {
	background-image:url('../images/tennis2.jpg');
	background-size: 100%;
	background-color:#000000;
	color:#ffffff;
	height: 600px;
	background-repeat: no-repeat;
	text-shadow: 2px 2px 8px #000;
}


/* Tablet */
@media screen and (max-width: 1024px) {

	.slide {
		background-attachment: fixed;
		width:100%;
		position: relative;
		padding:150px 0;
	}

	#decorative {
		display:none;
	}

	.content {
		text-align:center;
		width:100%;
	}

	#slide1 h1 {
		font-size: 6em;
		line-height: 1em;
	}

}


/* Mobile */
@media screen and (max-width: 480px) {

	.slide{
		background-attachment: fixed;
		width:100%;
		position: relative;
		padding:150px 0;
	}

	#slide1 h1 {
		font-size: 3.8em;
		line-height: 1em;
	}

}

/*parallel*/
#key{
  display:block;
  padding:20px;
}

.cblock{
  display:inline-block;
  width:20px;
  height:20px;
  background-color: #000;
  margin-top:5px;
  margin-left: 15px;
  margin-right: 5px;
}

#gr{
  background-color: #7FB800;
}
#hd{
  background-color: #118AB2;
}
#cl{
  background-color: #FA7921;
}


#pc{
  display:inline-block;
  width:80%;
  position: absolute;
  left: 10px;
  top:250px;
}
#key{
  display:block;
  width:10%;
  height:503px;
  vertical-align: super;
  float: right;
  /* left: 850px; */
  margin-left: 0px;
}

#select{
  display:block;
  width:10%;
  height:503px;
  vertical-align: super;
  float: right;
  /* left: 850px; */
  margin-left: 0px;
  height: 100px;
  position: absolute;
  left: 1120px;
  top: 350px;
}


 #bounce{
 	display: inline-block;
 	width:50%;
 	/*height:600px;*/
 	margin:20px;
 	position: absolute;
    left: 300px;
    top:930px;
 }
 #clay{
 	display: inline-block;
 	width:18%;
 	position: absolute;
    left: 35px;
    top:690px;
 }
 #grass{
 	display: inline-block;
 	width:18%;
 	 position: absolute;
    left: 1015px;
    top:690px;
 }
#hard{
 	position: absolute;
    left: 320px;
    top:690px;
    width:50%;
    height:250px;
 }

#french{
	width:18%;
	display: inline-block;
	/*height:300px;*/
	/*margin:10px;*/
	position: absolute;
	/*top:1000px;*/
	left:35px;
}
#aus{
	width:18%;
	display: inline-block;
	/*height:300px;*/
	/*margin:10px;*/
	position: absolute;
	/*top:1190px;*/
	left:361px;
}

#us{
	width:18%;
	display: inline-block;
	/*height:300px;*/
	/*margin:10px;*/
	position: absolute;
	/*top:1190px;*/
	left:687px;
}
#wim{
	width:18%;
	display: inline-block;
	/*height:300px;*/
	/*margin:10px;*/
	position: absolute;
	/*top:1000px;*/
	left:1015px;
}

